body {
    padding-top: 56px;
  }
  
  section {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 1;
  }
  
  .services-icon {
    margin-bottom: 20px;
    font-size: 30px;
  }
  
  .quote-icon {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .gittext {
	color: #646464;
	font-weight: bold;
  }

  .lowercase {
	text-transform: lowercase;
}

h1,
h2,
h3,
h4 {
    font-weight: 300;
}

h1 {
	font-size: 2.500em;
}

h1 span {
	color: #969696;
	font-size: .42em;
	margin-left: .476em;
}

h2 {
	font-size: 3em;
	line-height: 1.3;
}

h3 {
	font-size: 1.875em;
	line-height: 1.3;
}

h4 {
	font-size: 1.5em;
	line-height: 1.1;
}

/* p {
    margin-top: 0em ;
    margin-bottom: 10em ;
} */

li.borderless {
    border-top: 0 none;
    border-bottom: 0 none;
    border-right: 0 none;
    border-left: 0 none;
  }