body {
	font-family: 'OpenSansRegular','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 16px;
}

li, li a {
	font-size: 14px;
}

a {
	text-decoration: none;
	color: rgb(75,140,210);
}

.gittext {
	font-family: 'adelle_basic_rgbold';
	color: rgb(100,100,100);
}

.lowercase {
	text-transform: lowercase;
}

h1 {
	font-size: 50px;
}

h1 span {
	margin-left: 10px;
	font-size: 21px;
	color: rgb(150,150,150);
}

h2 {
	font-family: 'CapsuulaRegular';
	font-size: 55px;
}

h3 {
	font-family: 'CapsuulaRegular';
	font-size: 36px;
}

.content {
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	min-width: 700px;
	max-width: 900px;
}

header, footer {
	background-color: rgb(225,225,225);
}

header {
	background-image: url('../img/header_bg.png'), -moz-radial-gradient(center center, ellipse cover, rgba(235,235,235,.7) 0%, rgba(200,200,200,.3) 50%, rgba(30,30,30,.25) 100%);
	background-image: url('../img/header_bg.png'), -webkit-radial-gradient(center center, ellipse cover, rgba(235,235,235,.7) 0%, rgba(200,200,200,.3) 50%, rgba(30,30,30,.25) 100%);
	background-image: url('../img/header_bg.png'), -ms-radial-gradient(center center, ellipse cover, rgba(235,235,235,.7) 0%, rgba(200,200,200,.3) 50%, rgba(30,30,30,.25) 100%);
	background-image: url('../img/header_bg.png'), -o-radial-gradient(center center, ellipse cover, rgba(235,235,235,.7) 0%, rgba(200,200,200,.3) 50%, rgba(30,30,30,.25) 100%);
	background-repeat: repeat;
	height: 485px;
	padding-top: .6em;
}

header h1 {
	margin-top: 9px;
}

footer {
	border-top: solid 1px rgb(240,240,240);
	 background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(225,225,225)), to(rgb(255,255,255))); 
	 background: -webkit-linear-gradient(top, rgb(200,200,200), rgb(255,255,255)); 
	 background: -moz-linear-gradient(top, rgb(200,200,200), rgb(255,255,255)); 
	 background: -ms-linear-gradient(top, rgb(200,200,200), rgb(255,255,255));  
	 background: -o-linear-gradient(top, rgb(200,200,200), rgb(255,255,255)); 
}

footer div {
	padding-top: 15px;
}

footer h1 {
	margin-top: -6px;
	font-size: 22px;
}

footer .gittext {
	color: rgb(150,150,150);
}

footer ul {
	padding-top: 7px;
}

nav {
	margin-bottom: 2em;
	padding: 0 1.3em;
	height: 70px;
	border-bottom: solid 1px rgb(200,200,200);
}

nav  h1 {
	float: left;
}

nav ul, footer a {
	float: right;
}

nav ul {
	margin-top: 38px;
}

nav li, footer li {
	text-transform: uppercase;
	float: left;
	margin-left: 25px;
}

#feature article {
	position: relative;
	margin-left: 355px;
	height: 325px;
}

#feature h2 {
	padding: 5px 15px;
	line-height: 65px;
	margin-bottom: 15px;
	color: rgb(130,130,130);
	border-bottom: solid 1px rgb(190,190,190);
}

.button {
	display: inline-block;
	font-size: 21px;
	padding: 10px 3%;
	color: white;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,.4);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid rgb(10, 58, 125);
	background: rgb(44,102,184);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(75,140,233)), color-stop(1, rgb(44,102,184)));
	background: -moz-linear-gradient(center top, rgb(75,140,233) 0%, rgb(44,102,184) 100%);
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.2), inset 0 0 2px hsla(0,100%,100%,.2), 0 1px 2px hsla(0, 0%, 0%, .29);
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.2), inset 0 0 2px hsla(0,100%,100%,.2), 0 1px 2px hsla(0, 0%, 0%, .29);
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.2), inset 0 0 2px hsla(0,100%,100%,.2), 0 1px 2px hsla(0, 0%, 0%, .29);
}

.featurebutton {
	float: left;
	width: 41%;
	margin: 0 1%;
}

#imagerollover {
	float: left;
	position: relative;
	height: 325px;
	width: 325px;
}

#imagerollover img {
	width: 325px;
	height: 325px;
	position: absolute;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

#imagerollover img.top:hover {
	opacity: 0;
}

.vcentercontainer {
	height: 100%;
	display: table;
}

.vcentercontainer div {
	display: table-cell;
}

.vcentercontainer div, .vcentercontainer img {
	vertical-align: middle;
}

.vcentercontainer img {
	margin: 45px auto;
}

#details {
	background-color: rgb(44,102,184);
}

#details article {
	border-top: solid 5px rgba(0,0,0,.17);
	border-bottom: solid 5px rgba(0,0,0,.22);
}

#details .gittext {
	color: rgb(255,255,255);
}

#details p a {
	color: rgb(163,207,255);
	text-decoration: underline;
}

#details h2 {
	clear: both;
	padding: 9px 0;
	border-bottom: solid 5px rgba(255,255,255,.22);
	border-top: solid 5px rgba(255,255,255,.22);
	box-shadow: 0 0 40px rgba(0,0,0,.4);
	background-color: rgba(255,255,255,.14);
	color: rgb(255,255,255);
	text-align: center;
	text-shadow: 0 -1px rgba(0,0,0,.5);
	margin-top: 45px;
	margin-bottom: 30px;
}

#details h3 {
	color: rgb(245,245,245);
	text-shadow: 0 -1px rgba(0,0,0,.35);
	margin-top: 25px;
}

#details .button {
	border: 1px solid rgb(70, 70, 70);
	background: rgb(184,184,184);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(224,224,224)), color-stop(1, rgb(163,163,163)));
	background: -moz-linear-gradient(center top, rgb(224,224,224) 0%, rgb(163,163,163) 100%);
	text-shadow: 0 -1px 0 rgba(0,0,0,.6);
	margin-right: 1%;
}

#details .content {
	height: 625px;
}

#details p {
	color: rgb(235,235,235);
	text-shadow: 0 -1px rgba(0,0,0,.35);
	line-height: 31px;
	margin-bottom: 5px;
}

#details .vcentercontainer:first-child {
	margin-right: 5%;
}

.verticalgallery {
	float: none;
	text-align: center;
}

.verticalgallery  img {
	border: solid 5px rgba(255,255,255,.22);
	box-shadow: 0 0 45px rgba(0,0,0,.17);
	margin: 30px auto;
}

.detailstext {
	float: left;
	width: 58%;
}

.detailsimg {
	float: left;
	width: 35%;
}

#contributecontent .detailsimg * {
	width: 100%;
}

.stud {
	clear:both;
}
