.links {
	position:relative;
	float:right;
	padding-left: 1em;
}

.links ul {
	margin-left: -3em;
	list-style: none;
}

.links li {
	width: 14em;
	padding: .1em;
	border-radius: .2em;

	background: #a8a8a8; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#888888'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#888)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #eee,  #888); /* for firefox 3.6+ */
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.links li a {
	padding: .1em;
	color: black;
}

.links li:hover a {
	color: white;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .8);
}

table.comparison {
	border-collapse: collapse;
}

table.comparison th {
	padding-top: .5em;
	border-top: 1px solid #303030;
	text-align: right;
	padding-right: 1em;
}

table.comparison td {
	padding-top: .5em;
	border-top: 1px solid #303030;
}

table.comparison th.top-row {
	border-top: 0;
	text-align: center;
}

div#body {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: .5em;

	background: #d1d1d1; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f8f8f8', endColorstr='#e1e1e1'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#e1e1e1)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #f8f8f8,  #e1e1e1); /* for firefox 3.6+ */

	color: #444;
	border-top: solid 1px #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
}

body {
	font-family: "Signika Negative", sans-serif;
}
