<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Redirecting&hellip; Git for Windows snapshots</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="GitForWindows.css" />
    <link rel="shortcut icon" href="{{ relURL "favicon.ico" }}" />
    <link rel="canonical" href="{{ .Params.redirect_to }}" />
    <meta http-equiv="refresh" content="0; url={{ .Params.redirect_to }}" />
  </head>
  <body>
    <script>window.location.replace(document.querySelector("link[rel='canonical']").href + window.location.search + window.location.hash)</script>
    <h1>Redirecting&hellip;</h1>
    <a href="{{ .Params.redirect_to }}">Click here if you are not redirected.</a>
  </body>
</html>
