<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Git for Windows</title>
		<meta name="description" content="We bring the awesome Git VCS to Windows">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
		{{- $style := resources.Get "sass/pack.scss" | resources.ExecuteAsTemplate "pack.scss" . | css.Sass | resources.Minify }}
		<link rel="stylesheet" href="{{ $style.RelPermalink }}">
		<link rel="shortcut icon" href="favicon.ico">
	</head>
	<body{{ if ne "home" .Kind }} class="page"{{ end }}>
		{{ if eq "home" .Kind -}}
		{{- partial "header" . -}}
		{{- else -}}
		{{- partial "footer" . -}}
		{{- end }}
		<section class="details">
			<article>
				{{ block "main" . }}
				{{ .Content }}
				{{ end }}
			</article>
		</section>
		{{ partial "footer" . }}
		{{- $jquery := resources.Get "js/jquery-1.10.2.min.js" -}}
		{{- $fancybox := resources.Get "js/jquery.fancybox.js" -}}
		{{- $mousewheel := resources.Get "js/jquery.mousewheel.js" -}}
		{{- $js := slice $jquery $fancybox $mousewheel | resources.Concat "js/pack.js" }}
		<script src="{{ $js.RelPermalink }}"></script>
		<script>
			$(document).ready(function() {
				$(".fancybox-thumb").fancybox({
					padding: 0
				});
				{{ if eq "home" .Kind -}}
				/* Replace the download link if a Windows browser was detected */
				try {
					var agent = window.navigator.userAgent;
					var href = $('.version > a')[0].href.match(/^(.*\/)tag(\/.*)$/);
					var version = $('.version > a')[0].title.match(/^Version ([0-9.]*)(\(([0-9]*)?\))?/);
					if (!agent.match(/Windows/) || !href || !version)
						throw 0;
					var bitness = agent.match(/(WOW|Win)64/) ? '64' : '32';
					if (version[2])
						version[1] += '.' + version[3];
					var url = href[1] + 'download' + href[2] + '/Git-' + version[1] + '-' + bitness + '-bit.exe';
					$('a.button:contains("Download")')[0].href = url;
				} catch(e) {}
				{{ end -}}
			});
		</script>
	</body>
</html>
