<footer>
	<div class="content">
		<ul class="list-unstyled">
			<li><a{{ if eq "home" .Kind }} style="font-weight:bold"{{end}} href="https://github.com/git-for-windows/git/wiki/FAQ" target="_blank">FAQ</a></li>
			<li><a href="https://github.com/git-for-windows/git" target="_blank">Repository</a></li>
			<li><a href="https://github.com/git-for-windows/git/discussions/" target="_blank">Discussions</a></li>
			{{- if eq "home" .Kind }}
			<li><a href="https://github.com/git-for-windows/git/releases/">All Releases</a></li>
			<li><a href="https://gitforwindows.org/git-snapshots/">Snapshots</a></li>
			<li><a href="https://github.com/git-for-windows/build-extra/blob/master/ReleaseNotes.md#licenses">Licenses</a></li>
			{{- end }}
		</ul>
		<a href="index.html"><h1 class="gittext lowercase">Git for Windows</h1></a>
		<div class="stud"></div>
	</div>
</footer>

