<header>
	<nav class="content">
		<a href="index.html"><h1 class="gittext lowercase">Git<span>for Windows</span></h1></a>
		<div class="version"><a href="https://github.com/git-for-windows/git/releases/tag/v2.48.1.windows.1" title="Version 2.48.1 was published on Thu, 13 Feb 2025 12:50:46 UTC">Version 2.48.1</a></div>
		<ul class="list-unstyled">
			<li><a style="font-weight:bold" href="https://github.com/git-for-windows/git/wiki/FAQ" target="_blank">FAQ</a></li>
			<li><a href="https://github.com/git-for-windows/git" target="_blank">Repository</a></li>
			<li><a href="https://github.com/git-for-windows/git/discussions/" target="_blank">Discussions</a></li>
		</ul>
	</nav>
	<section class="content feature">
		<div class="imagerollover">
			<img src="img/gwindows_logo.png" alt="Git Logo">
			<img class="top" src="img/git_logo.png" alt="Git Logo">
		</div>
		<article>
			<div class="vcentercontainer">
				<div>
					<h2>We bring the awesome <span class="gittext">Git</span> SCM to Windows</h2>
					<a name="download" /><a class="button featurebutton" href="https://github.com/git-for-windows/git/releases/latest" target="_blank">Download</a>
					<a class="button featurebutton" href="#contribute">Contribute</a>
				</div>
			</div>
		</article>
	</section>
</header>

